<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	{{!-- Using Vuetify --}}
	{{!-- <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"> --}}
	{{!-- <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet"> --}}
	{{!-- If FontAwesome icons are needed --}}
	{{!--
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	 crossorigin="anonymous"> --}}
	
	<link href="{{context-path}}/public/css/styles.css" rel="stylesheet">
</head>

<body>
	<div id="app">
		Hello
	</div>

	{{!-- Using Vuetify --}}
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	{{!-- <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script> --}}

	{{!-- Make the context-path be accessible from the JS also --}}
	<script>
		const APP_CONTEXT_PATH = '{{context-path}}';

		// defined just because the html tagged template is used
		// by a VSCode plugin to lint/hint the HTML inside Vue component templates
		// when using html`.....`,
		// so if this is missing the cJS will break with ReferenceError: html is not defined
        const html = (strings) => strings.raw[0];
	</script>

	{{!-- <script src="{{context-path}}/public/js/List.js"></script> --}}
	<script src="{{context-path}}/public/js/App.js"></script>

	<script>
		new Vue({
			el: '#app',
			components: {
				'app': App,
			},
		});
	</script>

</body>

</html>
